@font-face {
    font-family:"Lato";
    src: url("fonts/Lato-Regular.ttf");
}

body{
    margin:0; 
    font-family: "Lato","Calibri", sans-serif;
}

body a{
    text-decoration: none;
    color:#075016;
    
}

header{
    background-color: #075016;
    padding-bottom: 30px;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

header div a{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#logo {
    width: 100px;
    margin :0;
    padding:20px 0;
    color:#FFFFFF
}

header h1{
    display:none;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li ul{
    display:none;
}

header nav ul li a {
    text-decoration:none;
    color:#FFFFFF;
    text-transform: uppercase;
    padding: 15px;
    display: block;
    text-align:center;
    font-size:1.2rem;
    font-weight: bold;
    
}

header nav ul li a:hover, header nav ul li a:active{
    color: #00120b;
}

header nav ul ul{
    display:none;
}

main{
    padding:20px;
}

main h2{
    text-transform: uppercase;
    padding-bottom:5px;
    margin-bottom:0;
    color:#075016;
}

#TopPage{
    display: grid;
    grid-template-columns: 1fr;
}

#TopPage img{
    display: none;
}


main article p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 5px;
}

#TopPageAside div{

    display: inline-block;
    background-color: #075016;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 50px;
    width: 200px;
    cursor: pointer;
    margin: 0;
}

#TopPageAside div:hover{
    background-color: #00120b;
}

#TopPageAside div a{
    color:#FFFFFF;
}


main #qualités {
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 50px;
}
main aside div{
    width: 75%;
    text-align: center;
    background-color: #eeeeee;
    border-radius: 10px;
    height: 0;
    padding-bottom:50% ;
}


main aside div img{
    width: 15%;
}

main aside div h3{
    font-size:75%;
}

main h2{
    text-transform:uppercase;
    font-size:1.6rem;
    border-bottom:2px solid #075016;
    padding-bottom:5px;
    margin-bottom:0;
}

main section article p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 5px;
}


main section #Images{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

main section div {
    text-decoration: none;
    display: block;
    margin: 5%;
    text-align: center;
    border-radius:10px;
    height:0;
    padding-bottom:90%;
    background-color: #FFFFFF;
}

main section div img{
    width: 100%;
}


footer{
    background-color: #075016;
    color: #FFFFFF;
    font-size:1.2rem;
    font-style:italic;
    padding: 30px;
    text-align:center;
}

footer aside{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 30px;
}

footer li{
    text-decoration: none;
    list-style: none;

}

footer li a{
    color:#FFFFFF;
}

footer li a:hover{
    color:#00120b;
}

@media screen and (min-width:1024px){

    body{
        margin:0;
    }

    main{
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    header{
        padding-bottom:0;
        display: grid;
        grid-template-columns: 200px 125px 1fr ;
        align-items: center;
        justify-items: end;
    }

    header h1{
        display:block;
        color:#FFFFFF;
        font-size: 1.5rem;
    }

    #logo{
        padding:10px 20px;
    }

    header nav ul{
        padding: 30px ;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }
    main #TopPage{
        display:grid;
        grid-template-columns: 400px 1fr;
        margin-bottom: 75px;
    }

    main #TopPage figure{
        padding: 0;
    }

    main #TopPage img{
        display: block;
        width: 100%;
    }

    main #TopPageAside{
        font-size:1.8rem;
    }

    main #TopPageAside h2{
        font-size: 2.5rem;
    }
    main #TopPageAside p{
        padding-bottom: 15px;
    }


    #TopPageAside div{
        padding:40px 0px 65px 0px;
        width: 300px;
    }
    
    #TopPageAside div:hover{
        background-color: #03270a;
    }

    #TopPageAside div a{
        display: block;
    }

    main #qualités{
        padding-top: 50px;
        padding-bottom:50px ;
    }

    main #qualités div h3{
        font-size: 1.5rem;
    }

    main section #Images{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main article{
        margin-top:50px;
    }

    main article div{
        display:grid;
        grid-template-columns: 500px 1fr;
    }

    main article #dQuoi{
        display:grid;
        grid-template-columns: 1fr 500px;
        text-align: left;
    }

    main article h2{
        display: block;
        border-bottom: none;
        background-color: #109a2b;
        color:#FFFFFF;
        margin: 5%;
        text-align: center;
        border-radius:10px;
        height:0;
        padding-bottom:450px;
    }

    main article #Quoi{
        background-color: #075016;
        grid-column: 2;
        grid-row-start: 1;
    }

    main article div p{
        font-size: 1.5rem;
        border-bottom:5px solid #109a2b;
    }

    main article #Quoi p{
        border-bottom:5px solid #075016;
        grid-row-start:1;
    }

    main article #Pourquoi{
        background-color: #042d0c;
    }

    main article #Pourquoi p{
        display: block;
        border-bottom:5px solid  #042d0c;
        padding-bottom: 200px;
    }
}