@font-face {
    font-family:"Lato";
    src: url("../fonts/Lato-Regular.ttf");
}

body{
    margin:0; 
    font-family: "Lato","Calibri", sans-serif;
}

body a{
    text-decoration: none;
    color:#075016;
    
}

header{
    background-color: #075016;
    padding-bottom: 30px;
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

#logo {
    width: 100px;
    margin :0;
    color:#FFFFFF;
    padding-top :20px;
}

header h1{
    color:#FFFFFF;
    padding-bottom:20px
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration:none;
    color:#FFFFFF;
    text-transform: uppercase;
    padding: 15px;
    display: block;
    text-align:center;
    font-size:1.2rem;
    font-weight: bold;
}

header nav ul li a:hover, header nav ul li a:active{
    color: #00120b;
}

header{
    padding-bottom:0;
    display: grid;
    grid-template-columns: 200px 125px 1fr ;
    align-items: center;
    justify-items: end;
}

header h1{
    display:block;
    color:#FFFFFF;
    font-size: 1.5rem;
    padding: 0;
}

#logo{
    padding:10px 20px;
}

header nav ul{
    padding: 30px ;
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}
main, main figure{
    margin: 0;
    padding: 0;
}

main figure img{
    width:100%;
    filter : blur(4px);
    
}

main article div{
    align-items: center;
    z-index: 100;
    background-color: #FFFFFF;
    margin-top: -100px;
}

footer{
    background-color: #075016;
    color: #FFFFFF;
    font-size:1.2rem;
    font-style:italic;
    padding: 30px;
    text-align:center;
}

footer aside{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-bottom: 30px;
}

footer aside ul{
    padding: 0;
}

footer li{
    text-decoration: none;
    list-style: none;
}

footer li a{
    color:#FFFFFF;
}

footer li a:hover{
    color:#00120b;
}

@media screen and (min-width: 1024px) {
    header{
        padding-bottom:0;
        display: grid;
        grid-template-columns: 200px 125px 1fr ;
        align-items: center;
        justify-items: end;
    }

    header h1{
        display:block;
        color:#FFFFFF;
        font-size: 1.5rem;
        padding: 0;
    }

    #logo{
        padding:10px 20px;
    }

    header nav ul{
        padding: 30px ;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
    }
}